body{
  /* background: linear-gradient(to right, #d4bc9a, #f8eee6); */
  background-color: white;
}
.noscrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container {
  scroll-behavior: smooth;
}

.no-hover-bg {
  transition: none; /* Remove transition if needed */
}

.no-hover-bg:hover {
  background-color: transparent; /* Remove hover background color */
  color: inherit; /* Optional: retain text color */
  text-decoration: none; /* Ensure no underline */
}