.card-container {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
  .card-container:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .card-container{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .firsth1{
    font-size: 40px;
  }
  .h1div{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .carousel-item img {
    height: 550px;
  }
  .navbar{
    background-color: transparent;
  }
  .search-bar{
    box-shadow: 10px 17px 30px 0px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 768px) {
    .firsth1{
        font-size: 20px;
      }

  }
